%table.table
  %tbody
    - @dinosaurs.each do |dino|
      %tr
        %td
          =link_to dino[:name], dinosaur_path(dino)
        %td #{dino[:period]}
        %td #{dino[:walking]}
        %td #{dino[:diet]}
        %td #{dino[:weight]}
        %td #{dino[:walking]}
        %td #{dino[:continent]}
        %td #{dino[:description]}